<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
{% extends 'base.html' %}
{% block content %}

<body>
    <section class="container mt-5">
        <h1 class="text-center ">¿POR QUÉ LAS EMPRESAS CONFÍAN EN PREDICTBUILD?</h1>
        <h2 class="text-center">
            DESCUBRE CÓMO PREDICTBUILD ESTÁ REVOLUCIONANDO LA PREDICCIÓN DE PRECIOS INMOBILIARIOS.
        </h2>
    </section>
    <section class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <div class="video-placeholder d-flex justify-content-center align-items-center"
                    style="background-color: #ccc; height: 250px;">
                    <span class="text-center">Video aquí</span>
                </div>
                <p>redictbuild transformó la forma en que evaluamos inversiones. Ahora,
                    nuestras decisiones se basan en predicciones precisas y datos reales.
                    <br><br>
                    Nombre del Cliente: Juan Pérez<br>
                    Cargo: Inversionista en Grupo Inmobiliario Pérez
                </p>
            </div>
            <div class="col-md-6">
                <div class="video-placeholder d-flex justify-content-center align-items-center"
                    style="background-color: #ccc; height: 250px;">
                    <span class="text-center">Video aquí</span>
                </div>
                <p>Gracias a Predictbuild, pudimos ofrecer a nuestros clientes estimaciones
                    de precios mucho más exactas, lo que aumentó nuestra credibilidad y
                    ventas.<br><br>
                    Nombre del Cliente: María Gómez<br>
                    Cargo: Directora de Operaciones en Agencia XYZ</p>
            </div>
        </div>
    </section>
    <section class="container mt-5">
        <h1 class="text-center fs-3">¿QUIERES PREDECIR EL VALOR DE CADA PROPIEDAD CON LA MÁS ALTA PRECISIÓN?</h1>
        <p class="text-center">
            Solicita una demostración gratuita y descubre cómo Predictbuild puede optimizar tu proceso de tasación
            inmobiliaria.
        </p>
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-blue" onclick="window.location.href='/home/contacto'">AGENDA UNA CONSULTA</button>
        </div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<style>
    .btn-blue {
        border-radius: 0;
        background-color: #062f86;
        color: white;
        width: 200px
    }
    h1 {
        color: blue;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    p {
        font-size: 1rem;
    }
    body {
        background-color: #f0f0f0;
    }
</style>

</html>
{% endblock %}