<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
{% extends 'base.html' %}
{% block content %}

<body>
    <section class="container mt-5">
        <h2 class="text-center">¿CÓMO FUNCIONA PREDICTBUILD?</h2>
        <h3 class="mt-5">Ingresa los Datos de la Propiedad:</h3>
        <p class="text-justify">
            Introduce información clave, como ubicación, tamaño, antigüedad, y características específicas.
        </p>
        <h3 class="mt-5">Analisis inteligente</h2>
            <p style="text-align: justify;">Nuestra IA procesa la información y la compara con una base de datos
                extensa,
                analizando propiedades similares y tendencias actuales del mercado.</p>

            <h3 class="mt-5">Obten el precio estimado</h2>
                <p style="text-align: justify;">Recibe una valoración precisa y detallada en cuestión de segundos, con
                    gráficos
                    y reportes que facilitan el análisis.</p>

                <h2 class="mt-5 text-center">DOS VERSIONES ADAPTADAS A TUS NECESIDADES</h2>
                <h3 class="mt-5">Predictbuild (Versión de Escritorio):</h3>
                <p style="text-align: justify;">Ideal para un análisis profundo y gestión integral desde cualquier
                    dispositivo.
                    Ofrece herramientas avanzadas que permiten tomar decisiones estratégicas con confianza.</p>

                <h3 class="mt-5">Predictbuild Go (Versión para Smartphone):</h3>
                <p style="text-align: justify;">Una versión simplificada diseñada para consultas rápidas sobre la
                    marcha.
                    Perfecta para agentes inmobiliarios que necesitan acceder a información crítica en tiempo real.</p>

                <h2 class="mt-5 text-center">CARACTERÍSTICAS CLAVE DE LA VERSIÓN DE ESCRITORIO</h2>

                <h3 class="mt-5">1. Mis Predicciones:</h3>
                <p style="text-align: justify;">Calcula el precio estimado de cualquier propiedad en segundos. Visualiza
                    gráficas de interés que muestran comparaciones de mercado y tendencias de precios.</p>

                <h3 class="mt-5">2. Mis Ventas:</h3>
                <p style="text-align: justify;">Registra y gestiona todas las ventas realizadas. Accede a gráficos
                    personalizados que muestran el rendimiento de ventas y análisis de oportunidades.</p>

                <h3 class="mt-5">3. Análisis del Mercado:</h3>
                <p style="text-align: justify;">Obtén una visión clara del mercado inmobiliario en tu región. Accede a
                    datos
                    actualizados sobre tendencias de precios, demanda y proyecciones de valor.</p>

                <h3 class="mt-5">4. Generador de Informes:</h3>
                <p style="text-align: justify;">Utiliza IA para crear reportes personalizados y profesionales en
                    segundos.
                    Combinando valoraciones, análisis de mercado y gráficos clave. Ahorra tiempo y presenta resultados
                    con
                    impacto visual y credibilidad.</p>

                <h3 class="mt-5">5. Mis Informes:</h3>
                <p style="text-align: justify;">Organiza y almacena todas tus valoraciones, permitiéndote consultar
                    detalles
                    clave como fecha, dirección y precio, y exportar fácilmente los reportes en formatos profesionales
                    como PDF
                    o Excel.</p>

                <h2 class="mt-5 text-center">¿POR QUÉ ELEGIR PREDICTBUILD?</h2>
                <p class="mt-4">Precisión Superior: Gracias a nuestros modelos de IA, obtén predicciones fiables
                    basadas en datos reales.</p>
                <p class="mt-4">Optimización de Decisiones: Reduce el riesgo en inversiones inmobiliarias y toma
                    decisiones informadas.</p>
                <p class="mt-4">Ahorro de Tiempo: Automatiza el análisis y generación de informes, eliminando
                    procesos manuales.</p>
                <p class="mt-4">Acceso Flexible: Consulta y gestiona predicciones desde cualquier lugar, con la
                    versión móvil y de escritorio.</p>

                <h2 class="mt-5 text-center">¿LISTO PARA REVOLUCIONAR TU NEGOCIO INMOBILIARIO CON PREDICTBUILD?</h2>
                <p style="text-align: justify;">Solicita una demostración gratuita y descubre cómo Predictbuild puede
                    transformar tus operaciones.</p>

                <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-blue" onclick="window.location.href='/home/contacto'">AGENDA UNA <br>
                        CONSULTA</button>
                </div>
                <div style="height: 40px;"></div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<style>
    h2,
    h3 {
        color: #062f86;
    }   
    p{
        font-size: 1.5rem;
    }
    .btn-blue {
        border-radius: 0;
        background-color: #062f86;
        color: white;
        width: 200px
    }

    body {
        background-color: #f0f0f0;
    }
</style>

</html>
{% endblock %}