/* Hacer filtros horizontales */
#changelist-filter {
    width: 100%;
}

#changelist-filter > .card-body {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#changelist-filter .filter-wrapper {
    min-width: 200px;
    margin-right: 20px;
}

/* Quitar estilo vertical de listas */
#changelist-filter ul {
    padding-left: 0;
    list-style-type: none;
}

#changelist-filter li {
    margin-bottom: 4px;
}
